@{
}
<h1>Rozwiązanie : </h1>
<p>Wynik 1: <span style="color: @ViewBag.Result1Color">@ViewBag.Result1</span></p>
<p>Wynik 2: <span style="color: @ViewBag.Result2Color">@ViewBag.Result2</span></p>

    